@import '/public/assets/styles/mixins.scss';
@import '/public/assets/styles/variables.scss';

.header-section{
    @include dflex-justify(12px,space-between,flex);
    margin: 60px;

    .right-section{
        @include dflex-param(10px,flex);
        img{
            width: 10px;
            cursor: pointer;
        }
    }
}

.popular-vehicles{
    padding-bottom: 20px;
}