.header-section{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 60px;

    .right-section{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 10px;
            cursor: pointer;
        }
    }
}

.popular-vehicles{
    padding-bottom: 20px;
}