
.pagination-btn{
    border: 1px solid gray;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 25px 10px 25px;
    transition: 0.5s;
}

.pagination-btn:hover{
    background-color: #ffc107;
    transition: 0.5s;
}