.forgot-password-background-image {
    background: url('/assets/images/banner/forgot-password-banner.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .header {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 40px;
      border-radius: 12px;
      text-align: center;
      color: white;
      max-width:450px;
      width: 100%;
  
      h1 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 20px;
        font-size: 14px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      button{
        margin-left: 56px !important;

    }
    }
  }
  