.details-container{
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    align-items: center;

    .right-section{
        .brand-model{
            padding-bottom: 20px;
            font-weight: 400;
        }
        .line{
            margin:0px 0px 10px 0px
        }

    }
    .details-upper{
        padding-top: 30px;

        img{
            border-radius: 12px;
        }
    }
    .details-lower{
        background-color: #0F141E;
        line-height: 40px;
        padding: 40px;
        width: 100%;
        margin-right: 30px;
        border-radius: 20px;

        .details-info{
            p{
                font-size: 13px;
            }
        }
    }
}
.related-vehicles{
    padding: 40px;

    .vehicle-list{
        padding-bottom: 20px;
    }

    h2{
        padding: 0px 20px 30px 50px;
    }
}