.auth-btn{
    background-color: #ffc107;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    border: none;
    margin-left: 75px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}