.vehicle-type-container{
    padding: 30px 60px 30px 60px;
    border: 1px solid;
    border-radius: 12px;
    background-color: #ffffff;

    p{
        color: #050b20;
        font-weight: 400;
        font-size: 14px;
    }
    
    img{
        width: 30px;
        height: 30px;
    }
}