.input-border{
    input{
        border: 2px solid #ffffff;
        width: 70%;
        color: #ffffff;
        padding: 15px 10px 15px 10px;
        background: transparent;
        font-size: 15px;
        outline: none;
        border-radius: 5px;
        margin-bottom: 30px;
    }
}